{% extends 'app/dummy.html' %}
{% block title %}
    <title>Document</title>
{% endblock %}

{% block body_block %}
    <center>

    {% if form.instance.pk %}
        <h1>School Update Form</h1>
    {% else %}    
        <h1>School Create Form</h1>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        {{form.as_p}}
    {% if form.instance.pk %}
        <input type="submit" value="SchoolUpdate">
    {% else %}
        <input type="submit" value="SchoolCreate">
    {% endif %}
    </form>

        


    </center>
{% endblock %}